<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <div class="div">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla necessitatibus nostrum odit a incidunt veniam, quam fugiat recusandae? Doloribus, cumque.</p>
    </div>
    
    <div class="autoRotate div">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla necessitatibus nostrum odit a incidunt veniam, quam fugiat recusandae? Doloribus, cumque.</p>
    </div>
<br>
<br>

</body>
</html>