html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.div{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
}

.autoRotate{

    display: flex;
    justify-content: center;
    align-items: center;

    animation: autoRotateAnimation;
    
}

@keyframes autoRotateAnimation {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(50%);
    }
}